.chatRow {
  display: flex;
  border-bottom: 1px solid var(--color_border);
  padding: 1rem 1rem;
}
.chatDetails {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  width: 100%;
  /* border-bottom: 1px solid var(--color_border); */
}
.secondary_text {
  color: var(--color_content_secondary);
  font-size: small;
  align-self: center;
}
