.chatRow {
  display: flex;
  border-bottom: 1px solid var(--color_border);
  padding: 1rem 1rem;
  cursor: pointer;
  opacity: 0.85;
}
.chatRow:hover {
  opacity: 1;
}
.chatDetails {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  width: 100%;
}
.secondary_text {
  color: var(--color_content_secondary);
  font-size: small;
  align-self: center;
}
.chatInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.crossBtn {
  transition: font-size 0.25s;
}
.crossBtn:hover {
  color: white;
  font-size: large;
}
